@import '../../assets/colors.scss';

.container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    max-width: 725px;
    min-height: 80vh;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px $black-dot-8;
    border-radius: 5px;
}

@media only screen and(max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
    }
}