@import "../../assets/colors.scss";

.header-navigation {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: $black-dot-8;
    max-width: 725px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .navigation-item {
        color: $text-white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5rem;
        padding: 10px 10px 0;
        border: 2px solid transparent;
        transition: .3s;
        
        &:hover {
            color: $bootstrap-info;
        }
    }

    .selected {
        // color: $bootstrap-primary;
        // text-decoration: underline
        text-decoration-line: underline;
        text-decoration-thickness: 1px;
    }

}