.input {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    width: 75%;
    font-size: 2rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
}

@media only screen and (max-width: 425px) {
    .input {
        width: 100%;
        font-size: 1.5rem;
    }
}