@import "../../assets/colors.scss";

.result-card {
    border-radius: 4px;
    padding: 12px;
    margin: 4px;
    flex: 1 1 200px;
    background-color: $black-dot-8;
    color: $text-white;

    .content-correct {
        color: $bootstrap-success;
    }

    .content-wrong {
        color: $bootstrap-danger;
    }

    .content-time {
        color: $bootstrap-info;
    }

    p {
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;
        text-align: start;
        
        span {
            font-weight: 700;
        }
    
    }


    p + p {
        margin-top: 10px;
    }
}