@import "../../assets/colors.scss";

.button {
    position: relative;
    padding: 10px 30px 10px 10px;
    border: none;
    margin: 0 5px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $text-white;
    border-radius: 5px;
    transition: .3s;

    svg {
        position: absolute;
        width: 20px;
        height: 20px;
        color: $black-dot-8;
        top: 7px;
        right: 3px;
    }

    &:hover {
        cursor: pointer;
    }
}

.button-save {
    background-color: $bootstrap-success;

    &:hover {
        background-color: rgba(92, 184, 92, .8);
    }

    &:active {
        background-color: rgba(92, 184, 92, .6);
    }
}

.button-reset {
    background-color: $bootstrap-warning;

    &:hover {
        background-color: rgba(240, 173, 78, 0.8);
    }

    &:active {
        background-color: rgba(240, 173, 78, 0.6);
    }
}

.button-list {
    background-color: $bootstrap-info;
    
    &:hover {
        background-color: rgba(91, 192, 222, 0.8);
    }

    &:active {
        background-color: rgba(91, 192, 222, 0.6);
    }
}