@import '../assets/colors.scss';

.counter-container {
    display: block;
    margin: 0 auto 20px;
    width: 75%;

    span {
        display: block;
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        color: $black-dot-8;
        text-align: end;
    }

    span + span {
        margin-left: 10px;
    }
}