@import '../../assets/colors.scss';

.game-results-container {
    display:block;
    margin: 20px auto;
    width: 75%;

    span {
        display: block;
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        text-align: end;
        color: $bootstrap-success;
    }

    span + span {
        margin: 10px 0 0 0;
        color: $bootstrap-danger;
    }
}

@media only screen and(max-width: 425px) {
    .game-results-container {
        width: 100%;
    }
}